<mat-toolbar color="primary">
  <button mat-button (click)="myDrawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

  <span style="flex: auto;"></span>
  @if (!(isSmall$ | async)) {
  <button mat-button routerLink="/admin/home">Home</button>
  <button mat-button routerLink="/admin/profile">Perfil</button>

  @if(authService.roles.includes('ADMIN')) {
    <button mat-button [matMenuTriggerFor]="importMenu">
      <mat-icon iconPosition="end">keyboard_arrow_down</mat-icon>
      Importar
    </button>
  }

  @if (authService.isAuthenticated) {
    <button mat-button>
      <mat-icon iconPosition="end">person</mat-icon>
      {{ authService.username }}
    </button>
  }

  <button mat-raised-button color="accent" (click)="authService.logout()">Salir</button>
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="Más acciones">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
      <ng-container *ngTemplateOutlet="menuActions"></ng-container>
    </mat-menu>
  }

  <mat-menu #importMenu="matMenu">
    <button mat-menu-item routerLink="/admin/load-estudiantes">Cargar Estudiantes</button>
    <button mat-menu-item routerLink="/admin/load-pagos">Cargar Pagos</button>
  </mat-menu>

  <ng-template #menuActions>
  <button mat-menu-item routerLink="/admin/home">Home</button>
  <button mat-menu-item routerLink="/admin/profile">Perfil</button>

  @if (authService.roles.includes('ADMIN')) {
    <!-- Importar como submenú dentro del menú “Más” -->
    <button mat-menu-item [matMenuTriggerFor]="importMenu">
      <span>Importar</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  }

  @if (authService.isAuthenticated) {
    <button mat-menu-item disabled>
      <mat-icon>person</mat-icon>
      {{ authService.username }}
    </button>
  }

  <button mat-menu-item (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
    Salir
  </button>
</ng-template>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #myDrawer mode="side" opened position="start">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/dashboard">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/estudiantes">
          <mat-icon mat-list-icon>group</mat-icon>
          Estudiantes
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/pagos">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          Pagos
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
